---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/*
 * chat
 */
.chat{
  margin-top: 5px;
  margin-bottom:  5px;
  margin-left: 5px;
  margin-right:  5px;
   height: 600px;
   overflow: auto;
   overflow-x:hidden;
}

#chat_bottom {
  height: 20px;
   bottom: 0px;
}

.log {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 2px solid #ccc;
  background: white;
  border-radius: 10px;
}

.ani-repeat {
  margin-left: 30px;
  margin-right:  30px;
}

/*
 * animation
 */

.sample-show-hide {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity: 0;
}

.ani-repeat.ng-enter {
  -webkit-animation: 1s opacity-insert-animation;
  animation: 1s opacity-insert-animation;
}

.log.ng-enter {
  -webkit-animation: 1s opacity-insert-animation;
  animation: 1s opacity-insert-animation;
}

.ani-repeat.ng-leave {
  -webkit-animation: 1s  opacity-dim-animation;
  animation: 1s  opacity-dim-animation;
}

.log.ng-leave {
  -webkit-animation: 1s  opacity-dim-animation;
  animation: 1s  opacity-dim-animation;
}

.ani-repeat.ng-move {
  -webkit-animation: 1s opacity-bright-animation;
  animation: 1s opacity-bright-animation;
}

.log.ng-move {
  -webkit-animation: 1s opacity-bright-animation;
  animation: 1s opacity-bright-animation;
}

@keyframes opacity-bright-animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes opacity-bright-animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes opacity-dim-animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes opacity-dim-animation {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes opacity-insert-animation {
  from { transform: scale(1.5,1.5); }
  to { transform: scale(1,1); }
}

@-webkit-keyframes opacity-insert-animation {
  from { transform: scale(1.5,1.5); }
  to { transform: scale(1,1); }
}
